body {
	overflow: hidden;
}

#door {
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 288px);
}

#door img {
	width: 200px;
}

.door_open {
	position: absolute;
	top: 0;
	opacity: 0;
	transition: 0.7s;
}

.door_open:hover {
	opacity: 1;
}

@media screen and (max-width:534px) {
	#rakuten {
		display: none!important;
	}
}
